body {
  margin: 0;
  /* background-image: url('./background-rns.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

#main-content {
  margin-top: 100px;
}

.list-div {
  overflow: hidden;
  overflow-y: auto;
  margin-top: 50px;
}

#blur-on-select {
  margin-left: 30px;
  max-height: 40px;
  height: 10px;
}

#list {
  height: 1080px;
}

#favorites {
  height: 1040px;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.disableInputArrows input[type=number] {
  -moz-appearance: textfield;
}

.disableInputArrows input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.disableInputArrows input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}