.drawer {
  width: 50ch;
  overflow: -moz-hidden-unscrollable;
}

@media screen and (max-width: 768px) {
  .drawer {
    width: 34ch;
  }
}

@media screen and (max-width: 425px) {
  .drawer {
    width: 30ch;
  }
}

@media screen and (max-width: 380px) {
  .drawer {
    width: 26ch;
  }
}

.menueBtn svg {
  color: white;
  font-size: 2.5rem;
}