.logo {
  width: 100px;
  height: 50px;
}

@media screen and (max-width: 1024px) {
  .logo {
    width: 84px;
    height: 42px;
  }
}

@media screen and (max-width: 780px) {
  .logo {
    width: 63px;
    height: 31.5px;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    width: 52px;
    height: 26px;
  }
}

@media screen and (max-width: 420px) {
  .logo {
    width: 46px;
    height: 23px;
  }
}

@media screen and (max-width: 370px) {
  .logo {
    width: 42px;
    height: 21px;
  }
}

.toggleBtn svg {
  color: white;
  font-size: 2.5rem;
}