@media screen and (max-width: 420px) {
  .search {
    width: 22ch;
  }
}

@media screen and (max-width: 380px) {
  .search {
    width: 18ch;
  }
}

.toggleBtn svg {
  color: white;
  font-size: 2.5rem;
}